.App {
  text-align: center;
}

.grid {
  display: inline-block;
  border: 10px solid #E15A1D;
  margin-bottom: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot .emoji {
  transition: transform 0.3s ease-in-out;
}
